src/**
.cursor/**
tsconfig.json
.gitignore
.eslintrc.json
.specstory/**
.tmp-icons/**
assets/bin/ripgrep-linux.tar.gz
assets/bin/ripgrep-14.1.0-x86_64-unknown-linux-musl/complete/**
assets/bin/ripgrep-14.1.0-x86_64-unknown-linux-musl/doc/**
assets/bin/ripgrep-14.1.0-x86_64-unknown-linux-musl/COPYING
assets/bin/ripgrep-14.1.0-x86_64-unknown-linux-musl/LICENSE-MIT
assets/bin/ripgrep-14.1.0-x86_64-unknown-linux-musl/README.md
assets/bin/ripgrep-14.1.0-x86_64-unknown-linux-musl/UNLICENSE
node_modules/**
!node_modules
!node_modules/asn1/**
!node_modules/bcrypt-pbkdf/**
!node_modules/safer-buffer/**
!node_modules/ssh2/**
!node_modules/tweetnacl/**
node_modules/**/.github/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/doc/**
node_modules/**/docs/**
node_modules/**/src/**
node_modules/**/deps/**
node_modules/**/build/**
node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/*.map
node_modules/**/*.pdb
node_modules/**/*.obj
node_modules/**/*.iobj
node_modules/**/*.ipdb
node_modules/**/*.lib
node_modules/**/*.exp
node_modules/**/*.vcxproj
node_modules/**/*.filters
node_modules/**/*.tlog
node_modules/**/*.gyp
node_modules/**/*.gypi
!node_modules/ssh2/lib/protocol/crypto/build/Release/sshcrypto.node
scripts/**
dist/**/*.map
